/* CSS FIles for UTP CLASS  */

/* font-family: 'Libre Franklin', sans-serif;
font-family: 'Source Code Pro', monospace; */


body {
     font-family: 'Libre Franklin', sans-serif;
}

h1,h2,h3,h4,h5 {
   
    font-family: 'Source Code Pro', monospace;
}
h2 {
    font-size: 40px;
}
.container {
    border: solid black 3px;
    padding:20px;
    margin:0 auto;
}
.navigation-container {
    height:50px;
}

.navigation-container h4 {
   display:inline;
}
#nav {
    float:right;
}
#nav a {
    margin:10px;
    text-decoration:none;
    font-size: 18px;
    color:white;
    background-color:black;
    padding: 30px;
}

#landing {
    background-image: url('https://images.unsplash.com/photo-1573119574338-7c580feb2023?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align:center;
    height:80vh;
}
#landing h1 {
    font-size: 100px;
    font-weight: 900;
}
#landing h3 {
    font-size: 40px;
}

#work {
    height:400px;    
}
#news {
    background-color:black;
}
#news h2 {
    color:white;
}
#news ol {
    color: white;
    font-size:20px;
}
.sub-container {
    border: 2px dashed darkgray;
    width:30%;
    float:left;
    text-align:center;
    margin-right:20px;
}
.sub-container img {
    width:150px;
}


.sub-container a {
    background-color: lightgray;
    border: solid black 2px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10%;
    padding: 10px;
    display: inline-block;
    color: black;
    transition: 1s;
}

.sub-container a:hover {
    background-color: black;
    border: dashed white 2px;
    font-size: 25px;
    border-radius: 20%;
    padding: 10px;
    color: white;
}